/* this section is about swimlane and main page */
.header-quick-access#headerIsSettingDatabaseCallDone {
  display: none !important;
}
.board-color-belize#header-quick-access {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#header-quick-access .allBoards {
  font-size: 1rem;
}
.header-quick-access-list {
  font-size: 1rem;
}
#header-quick-access #header-user-bar .header-user-bar-name,
#header-quick-access #header-help {
  display: flex;
  align-items: center;
  margin: 0;
  width: fit-content;
  height: fit-content;
  gap: 8px;
  font-size: 0.875rem;
  font-weight: 600;
}
#header-quick-access #header-user-bar .header-user-bar-avatar {
  top: 0px;
  margin-right: 0px;
}
.swimlane {
  gap: 16px;
  background-color: transparent;
}
.swimlane .swimlane-header-wrap {
  flex-direction: row-reverse;
  padding-top: 4px;
  padding-bottom: 4px;
}
.swimlane .swimlane-header-wrap .swimlane-header div p {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 16px;
}
.board-wrapper .board-canvas {
  padding: 16px;
}
.board-wrapper .board-canvas .js-swimlane {
  padding: 16px;
  gap: 16px;
  background-color: transparent;
}
.swimlane .swimlane-header-wrap .swimlane-header-menu {
  display: flex;
  align-items: center;
  gap: 8px;
  position: unset;
  padding: unset;
  margin-left: 16px;
}
.swimlane .swimlane-header-wrap .js-inlined-form {
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.swimlane .swimlane-header-wrap .js-inlined-form .list-composer {
  display: flex;
  gap: 8px
}
.swimlane .swimlane-header-wrap .js-inlined-form .list-composer input {
  margin: unset;
  
}
.swimlane .swimlane-header-wrap .js-inlined-form .list-composer .edit-controls {
  margin: unset;
  gap: 8px;
}
.swimlane .swimlane-header-wrap .js-inlined-form .list-composer .edit-controls button {
  width: 80px;
  box-shadow: none;
}
.swimlane .swimlane-header-wrap .js-inlined-form .list-composer .edit-controls a {
  margin: 0;
}
.swimlane .swimlane-header-wrap .swimlane-header-menu a {
  font-size: 18px;
}
.swimlane .swimlane-header-wrap .swimlane-header-plus-icon {
  padding: unset;
}
.content form .edit-controls {
  gap: 8px;
  margin-bottom: 0px;
}
.content .pop-over-list {
  display: flex;
  flex-direction: column;
}
.content .pop-over-list li {
  display: block;
}
.content .pop-over-list li a i.fa {
  width: 16px;
  text-align: center;
}
.content .pop-over-list li a {
  gap: 6px;
}
.content .pop-over-list li a.js-select-visibility,
.content .pop-over-list li a.js-select-watch {
  flex-wrap: wrap;
  margin-bottom: 8px;
}
.content .pop-over-list li:last-child > a.js-select-visibility,
.content .pop-over-list li:last-child > a.js-select-watch {
  margin-bottom: 0;
}
.content form label input.js-board-name,
.content form label textarea.js-board-desc {
  margin-top: 8px;
  margin-bottom: 8px;
}

.content form input.primary {
  margin-bottom: 0;
}

.board-color-belize .list {
  border-radius: 4px;
}
.list-group {
  height: auto;
}
.list-header.list-header-card-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: fit-content;
  padding: 12px;
}
.list-header-menu {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.list-header .list-header-plus-top,
.js-open-list-menu,
.list-header-menu a {
  padding-left: 0;
}
.list-header .list-header-plus-top {
  margin-right: 0;
}
.list-header .list-header-collapse-left {
  margin-right: 0;
}
.list:first-child {
  height: fit-content;
}
.board-color-belize .list {
  padding-bottom: 0;
}
.header-board-menu p {
  font-size: 1rem;
}
.board-header-btns a span {
  font-size: 0.875rem;
}
.board-color-belize .list-body {
  margin: 0;
}
.list-body {
  padding: 12px;
  overflow: auto;
}

.card-details .card-details-items .card-details-item {
  display: flex;
  gap: 8px;
}
.list-header-add {
  padding: 8px 12px;
}
.palette-colors {
  gap: 8px
}
.edit-label .card-label {
  width: 24px;
  height: 24px;
  max-width: 24px;
  margin: 0;
}
.content .edit-label button {
  margin-bottom: 0px;
  margin-top: 12px;
}
.content .board-subtask-settings,
.content .board-card-settings {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.content .board-subtask-settings h3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.content .board-card-settings h3 {
  font-weight: 600;
}
.content .board-subtask-settings h3 a {
  display: flex;
  align-items: center;
}
.content .board-subtask-settings .check-div,
.content .board-card-settings .check-div {
  margin: 4px 0;
}
.content .board-card-settings .check-div a span {
  display: flex;
  gap: 8px;
  font-size: 16px;
}
.content .board-card-settings .check-div a span i.fa {
  width: 14px;
  height: 14px;
  margin: 0 4px;
}
.content .board-subtask-settings label .js-field-deposit-board,
.content .board-subtask-settings label .js-field-deposit-list {
  margin-top: 12px;
  margin-bottom: 4px;
}
.content form label input.js-board-background-image-url {
  margin-top: 8px;
}
.content form hr {
  margin: 8px 0;
}
.content form div button.js-remove-background-image {
  margin-bottom: 0;
}